{% extends 'base.html' %}

{% block head %}
<head>
  <title>You Are Listening To {{ music1.name }}</title>
  <link rel="shortcut icon" href="{{music1.image}}" class="rounded-circle" type="image/png">
</head>
{% endblock head %}
{% block content %}

<div class="px-5 mb-4 rounded-3">
  <div class="container-fluid py-5">
    <img src="{{music1.image}}" class="img-thumbnail rounded" width="400" alt="...">
    <h1 class="display-5 fw-bold">{{music1.name}}</h1>
    <p class="col-md-8 fs-4">{{ music1.desc }}</p>
    <audio src="{{music1.audio}}" controls></audio>
  </div>
</div>

{% endblock %}